<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almanorcomputerrepair.acr">

    <application>
        <activity android:name=".HelpWifiActivity" />
        <activity android:name=".HelpBluetoothActivity" />
        <activity
            android:name=".ImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_view"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".CheckBoxActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AppHelpActivity"
            android:label="@string/title_activity_app_help"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>